#nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5em;
}

#delete-toggle {
  width: 0;
  padding: 0 6px;
  overflow: hidden;
  background-color: #777;
  color: #777;
  white-space: pre;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    width: 6.4em;
    background-color: #944;
    color: #fff;
    opacity: 1;
  }

  .delete-active & {
    background-color: #744;

    &:hover {
      background-color: #999;
    }
  }
}
